name: soulgarden-pro
services:
  nginx:
    container_name: soulgarden_pro_nginx
    image: soulgarden/swup:pro-0.0.10
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
      pull: true
    ports:
      - "8080:80"
    restart: unless-stopped
